
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= @title %></title>
    <link rel="stylesheet" href="main.css" type="text/css" media="all" />
    <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/JavaScript" src="slicker.js"></script>
    <script type="text/JavaScript" src="abhi.js"></script>
    
</head>
<body>

    <div class="grid_5 body">
    	<div class="header"><%= @title %></div>

    <div class="container_5 bingoCard">

<% @bwr1.each do |word| %>
  <div class="grid_1 bingoSquare">
        <div class="bingoSquareFront"> 
                <div class="contents">
                    <p class="cardContents">
                        <span type="checkbox"> <%= word %> </span>
                        </p>
                </div>
        </div>
  </div>
<% end %>

<% @bwr2.each do |word| %>
    <div class="grid_1 bingoSquare">
           <div class="bingoSquareFront"> 
                   <div class="contents">
                       <p class="cardContents">
                           <span type="checkbox"> <%= word %> </span>
                           </p>
                   </div>
           </div>
     </div><% end %>

<% @bwr3a.each do |word| %>
    <div class="grid_1 bingoSquare">
           <div class="bingoSquareFront"> 
                   <div class="contents">
                       <p class="cardContents">
                           <span type="checkbox"> <%= word %> </span>
                           </p>
                   </div>
           </div>
     </div>
     <% end %>
     <div class="grid_1 bingoSquare">
            <div class="bingoSquareFront"> 
                    <div class="contents">
                        <p class="cardContents">
                            <span type="checkbox"> BINGO </span>
                            </p>
                    </div>
            </div>
      </div>
      
     <% @bwr3b.each do |word| %>
         <div class="grid_1 bingoSquare">
                <div class="bingoSquareFront"> 
                        <div class="contents">
                            <p class="cardContents">
                                <span type="checkbox"> <%= word %> </span>
                                </p>
                        </div>
                </div>
          </div><% end %>

<% @bwr4.each do |word| %>
    <div class="grid_1 bingoSquare">
           <div class="bingoSquareFront"> 
                   <div class="contents">
                       <p class="cardContents">
                           <span type="checkbox"> <%= word %> </span>
                           </p>
                   </div>
           </div>
     </div>
     <% end %>


<% @bwr5.each do |word| %>
    <div class="grid_1 bingoSquare">
           <div class="bingoSquareFront"> 
                   <div class="contents">
                       <p class="cardContents">
                           <span type="checkbox"> <%= word %> </span>
                           </p>
                   </div>
           </div>
     </div>
     <% end %>
</div>

<p align="center" class="logo" style="margin: 10px 0px 0px 10px;"><img src="logo.png" width="200px" align="center"></p>

</div> 

</body>
</html>
